{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for items in items %}
        <li>{{ items.status }} - {{items.title}}</li>
        {% endfor %}
        <br>
        <form action="{{ url_for('add') }}" method="post">
          <label for="title">Enter Item:</label>
          <input type="text" id="title" name="title" required minlength="4" maxlength="20" size="10">
          <br>
          <button type="submit">
          Add Item
        </button>
        </form>
      </ul>
    </div>
  </div>
{% endblock %}